---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Welcome to my portfolio</h2>
  <p>
    here you will get to see all my beautiful projects, or at least the ones I
    am proud of.
  </p>
  <a class="button" href="/projects/">go see my projects</a>
</BaseLayout>
