---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectCard from "../components/ProjectCard.astro";

const pageTitle = "My Projects";
const allProjects = await getCollection("projects");
---

<BaseLayout pageTitle={pageTitle}>
  <p>
    Here are some of the projects I've worked on. Each one represents a unique
    challenge and learning experience.
  </p>
  <ul class="projects-grid">
    {
      allProjects.map((project) => (
        <ProjectCard
          url={`/projects/${project.id}/`}
          title={project.data.title}
          description={project.data.description}
        />
      ))
    }
  </ul>
</BaseLayout>
