---
const platform = "github";
const username = "withastro";
import Social from "./Social.astro";
---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
  <p>
    Learn more about my projects on <a
      class="footer__link"
      href={`https://github.com/AlexanderJonckheere`}>{platform}</a
    >!
  </p>
  <Social platform="twitter" username="astrodotbuild" />
  <Social platform="github" username="withastro" />
</footer>
